In [1]:
import pandas as pd
import numpy as np
import sqlite3

In [2]:
con = sqlite3.connect("../FAPESP.db")
my_cursor = con.cursor()

In [3]:
con.executemany(
    """
    INSERT INTO feedstock_type (name)
    VALUES (?)
    """,
    [["Culturas"], ["Resíduos"]]
)

np.array(list(con.execute("SELECT * FROM feedstock_type")))

array([['1', 'Culturas'],
       ['2', 'Resíduos']], dtype='<U11')

#### A conveção de unidades para a tabela feedstock_production é ton/ano

In [4]:
def format_df(df):
    df = df.rename(columns={"Quantidade produzida (Toneladas)": "qnt_produzida"})
    df = df[["qnt_produzida", "mun_id"]]
    return df

# df Soja

In [5]:
soja = pd.read_excel("soja.xlsx")
soja.head()

               Local    UF  Quantidade produzida (Toneladas)   mun_id
0           Capixaba  Acre                              3812  1200179
1  Plácido de Castro  Acre                             10167  1200385
2         Rio Branco  Acre                              4610  1200401
3   Senador Guiomard  Acre                               900  1200450
4     Epitaciolândia  Acre                                67  1200252

In [6]:
soja = format_df(soja)

In [7]:
soja.head()

   qnt_produzida   mun_id
0           3812  1200179
1          10167  1200385
2           4610  1200401
3            900  1200450
4             67  1200252

# df Resíduos Soja

In [8]:
porcentagem_residuos_soja = 1.5
res_soja = soja.copy()
res_soja["qnt_produzida"] = res_soja["qnt_produzida"].apply(lambda x: porcentagem_residuos_soja*x)

Santana-Méridas, Omar, Azucena González-Coloma, and Raúl Sánchez-Vioque. "Agricultural residues as a source of bioactive natural products." Phytochemistry reviews 11.4 (2012): 447-466.

In [9]:
res_soja.head()

   qnt_produzida   mun_id
0         5718.0  1200179
1        15250.5  1200385
2         6915.0  1200401
3         1350.0  1200450
4          100.5  1200252

# df Café

In [10]:
cafe = pd.read_excel("cafe.xlsx")
cafe = format_df(cafe)
cafe.head()

   qnt_produzida   mun_id
0           2100  3108206
1           2767  3109303
2           1680  3126208
3           9860  3170404
4            637  3128600

# df Laranja

In [14]:
laranja = pd.read_excel("laranja.xlsx")
laranja = format_df(laranja)
laranja.head()

   qnt_produzida   mun_id
0           7000  3109303
1          22400  3126208
2            150  3170404
3            970  3136306
4             66  3147006

# Soja

In [11]:
# Adicionar soja às matérias-primas
con.execute("INSERT INTO feedstock (type_id, name) VALUES (1, 'Soja')")

np.array(list(con.execute("SELECT id, name FROM feedstock")))

array([['1', 'Soja']], dtype='<U11')

In [12]:
con.executemany(
"""
INSERT INTO feedstock_production (feedstock_id, year, quantity_produced, mun_id)
VALUES (1, 2021, ?, ?)
""",
soja.values.tolist()
)

In [15]:
list(con.execute("SELECT id, feedstock_id, quantity_produced, mun_id FROM feedstock_production"))[:5]

[(1, 1, 3812.0, 1200179),
 (2, 1, 10167.0, 1200385),
 (3, 1, 4610.0, 1200401),
 (4, 1, 900.0, 1200450),
 (5, 1, 67.0, 1200252)]

# Resíduos soja

In [16]:
# Adicionar resíduos de soja às matérias-primas
con.execute("INSERT INTO feedstock (type_id, name) VALUES (2, 'Resíduos de Soja')")

np.array(list(con.execute("SELECT id, name FROM feedstock")))

array([['1', 'Soja'],
       ['2', 'Resíduos de Soja']], dtype='<U16')

In [17]:
con.executemany(
"""
INSERT INTO feedstock_production (feedstock_id, year, quantity_produced, mun_id)
VALUES (2, 2021, ?, ?)
""",
res_soja.values.tolist()
)

In [18]:
list(con.execute("SELECT id, feedstock_id, quantity_produced, mun_id FROM feedstock_production WHERE feedstock_id = 2"))[:5]

[(2470, 2, 5718.0, 1200179),
 (2471, 2, 15250.5, 1200385),
 (2472, 2, 6915.0, 1200401),
 (2473, 2, 1350.0, 1200450),
 (2474, 2, 100.5, 1200252)]

# Café

In [20]:
# Adicionar café às matérias-primas
con.execute("INSERT INTO feedstock (type_id, name) VALUES (1, 'Café')")

np.array(list(con.execute("SELECT id, name FROM feedstock")))

array([['1', 'Soja'],
       ['2', 'Resíduos de Soja'],
       ['3', 'Café']], dtype='<U16')

In [21]:
con.executemany(
"""
INSERT INTO feedstock_production (feedstock_id, year, quantity_produced, mun_id)
VALUES (3, 2021, ?, ?)
""",
cafe.values.tolist()
)

In [22]:
list(con.execute("SELECT id, feedstock_id, quantity_produced, mun_id FROM feedstock_production WHERE feedstock_id = 3"))[:5]

[(4939, 3, 2100.0, 3108206),
 (4940, 3, 2767.0, 3109303),
 (4941, 3, 1680.0, 3126208),
 (4942, 3, 9860.0, 3170404),
 (4943, 3, 637.0, 3128600)]

# Laranja

In [23]:
# Adicionar laranja às matérias-primas
con.execute("INSERT INTO feedstock (type_id, name) VALUES (1, 'Laranja')")

np.array(list(con.execute("SELECT id, name FROM feedstock")))

array([['1', 'Soja'],
       ['2', 'Resíduos de Soja'],
       ['3', 'Café'],
       ['4', 'Laranja']], dtype='<U16')

In [24]:
con.executemany(
"""
INSERT INTO feedstock_production (feedstock_id, year, quantity_produced, mun_id)
VALUES (4, 2021, ?, ?)
""",
laranja.values.tolist()
)

In [25]:
list(con.execute("SELECT id, feedstock_id, quantity_produced, mun_id FROM feedstock_production WHERE feedstock_id = 4"))[:5]

[(6353, 4, 7000.0, 3109303),
 (6354, 4, 22400.0, 3126208),
 (6355, 4, 150.0, 3170404),
 (6356, 4, 970.0, 3136306),
 (6357, 4, 66.0, 3147006)]

In [26]:
con.commit()