In [9]:
import pandas as pd
import sqlite3
import numpy as np

In [2]:
def get_cod(mun_name, uf_name):
    con = sqlite3.connect("../FAPESP.db")
    my_cursor = con.cursor()
    result = my_cursor.execute(
        """
        SELECT municipios.id
        FROM municipios
        INNER JOIN imediatas ON municipios.imed_id = imediatas.id
        INNER JOIN intermediarias ON imediatas.inter_id = intermediarias.id
        INNER JOIN uf ON intermediarias.uf_id = uf.id
        WHERE municipios.name = ? AND uf.name = ?
        """,
        (mun_name, uf_name)
    )
    return list(result)[0][0]

In [3]:
def add_cod(row):
    try:
        row["mun_id"] = get_cod(row["Local"], row["UF"])
    except:
        print(row)
    return row

def format_table(df):
    df = df.copy()
    df = df.loc[df["Tipo Região"] == "Município"]
    df = df[["Local", "UF", "Quantidade produzida (Toneladas)"]]
    df = df.apply(add_cod, axis=1)
    df["Quantidade produzida (Toneladas)"] = df["Quantidade produzida (Toneladas)"].apply(lambda x: pd.to_numeric(x, errors="coerce"))
    df = df.dropna(subset=["Quantidade produzida (Toneladas)"])
    return df

In [4]:
cafe = pd.read_excel("PAM/2021 Café (em grão) Total.xlsx")
laranja = pd.read_excel("PAM/2021 Laranja.xlsx")
soja = pd.read_excel("PAM/2021 Soja (em grão).xlsx")

In [5]:
cafe = format_table(cafe)
cafe

,Local,UF,Quantidade produzida (Toneladas),mun_id
4,Bonfinópolis de Minas,Minas Gerais,2100.0,3108206
5,Buritis,Minas Gerais,2767.0,3109303
8,Formoso,Minas Gerais,1680.0,3126208
10,Unaí,Minas Gerais,9860.0,3170404
14,Guarda-Mor,Minas Gerais,637.0,3128600
...,...,...,...,...
6264,Pires do Rio,Goiás,39.0,5217401
6272,Campo Alegre de Goiás,Goiás,2741.0,5204805
6273,Catalão,Goiás,1000.0,5205109
6278,Ipameri,Goiás,1120.0,5210109
6280,Ouvidor,Goiás,70.0,5215504

In [6]:
laranja = format_table(laranja)
laranja

,Local,UF,Quantidade produzida (Toneladas),mun_id
5,Buritis,Minas Gerais,7000.0,3109303
8,Formoso,Minas Gerais,22400.0,3126208
10,Unaí,Minas Gerais,150.0,3170404
15,João Pinheiro,Minas Gerais,970.0,3136306
18,Paracatu,Minas Gerais,66.0,3147006
...,...,...,...,...
6261,Gameleira de Goiás,Goiás,3030.0,5208152
6263,Palmelo,Goiás,627.0,5215801
6267,Silvânia,Goiás,975.0,5220603
6269,Vianópolis,Goiás,440.0,5222005
6273,Catalão,Goiás,7433.0,5205109

In [7]:
soja = format_table(soja)
soja

                  Local     UF  Quantidade produzida (Toneladas)   mun_id
20             Capixaba   Acre                            3812.0  1200179
21    Plácido de Castro   Acre                           10167.0  1200385
23           Rio Branco   Acre                            4610.0  1200401
24     Senador Guiomard   Acre                             900.0  1200450
28       Epitaciolândia   Acre                              67.0  1200252
...                 ...    ...                               ...      ...
6285        Gouvelândia  Goiás                            4480.0  5209150
6286              Itajá  Goiás                             463.0  5210802
6287            Itarumã  Goiás                           12000.0  5211305
6289       Paranaiguara  Goiás                            9150.0  5216304
6290       Quirinópolis  Goiás                           93000.0  5218508

[2469 rows x 4 columns]

In [11]:
soja.to_excel("soja.xlsx", index=False)
laranja.to_excel("laranja.xlsx", index=False)
cafe.to_excel("cafe.xlsx", index=False)

In [10]:
np.array(soja.head())

array([['Capixaba', 'Acre', 3812.0, 1200179],
       ['Plácido de Castro', 'Acre', 10167.0, 1200385],
       ['Rio Branco', 'Acre', 4610.0, 1200401],
       ['Senador Guiomard', 'Acre', 900.0, 1200450],
       ['Epitaciolândia', 'Acre', 67.0, 1200252]], dtype=object)